:root {
  --color-primary: #ff0000;
  --font-desktop-display-1-family: "Arial";
  --font-desktop-display-1-size: 92px;
  --font-desktop-display-1-weight: 700;
  --font-desktop-display-1-line-height: 110.4%;
}
