:root {
  /* Colors */
  --color-oxford-blue: #122047ff;
  --color-powder-blue: #cdd6dfff;
  --color-platinum: #f1f0f2ff;
  --color-redwood: #4e2d24ff;
  --color-slate-grey: #666f76ff;
  --color-canadian-red: #ba1a00ff;
  --color-primary-background: #424c6bff;

}

/* Fonts */
.font-mobile-display-1---mobile {
  font-family: "IvyPresto Headline";
  font-size: 36px;
  font-weight: 400;
  line-height: 43.2%;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
}

.font-mobile-h1---mobile {
  font-family: "IvyPresto Headline";
  font-size: 46px;
  font-weight: 400;
  line-height: 68%;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
}

.font-mobile-h2---mobile {
  font-family: "IvyPresto Headline";
  font-size: 36px;
  font-weight: 400;
  line-height: 55%;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
}

.font-mobile-h3---mobile {
  font-family: "IvyPresto Headline";
  font-size: 32px;
  font-weight: 400;
  line-height: 45%;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
}

.font-mobile-h4---mobile {
  font-family: "IvyPresto Headline";
  font-size: 26px;
  font-weight: 400;
  line-height: 31.2%;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
}

.font-mobile-h5---mobile {
  font-family: "IvyPresto Headline";
  font-size: 22px;
  font-weight: 400;
  line-height: 26.4%;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
}

.font-mobile-p1---mobile {
  font-family: "Neue Haas Unica W1G";
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6%;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
}

.font-mobile-p2---mobile {
  font-family: "Neue Haas Unica W1G";
  font-size: 16px;
  font-weight: 400;
  line-height: 26%;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
}

.font-mobile-p3---mobile {
  font-family: "Neue Haas Unica W1G";
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8%;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
}

.font-mobile-p4---mobile {
  font-family: "Neue Haas Unica W1G";
  font-size: 12px;
  font-weight: 400;
  line-height: 14.4%;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
}

.font-mobile-p5---mobile {
  font-family: "Neue Haas Unica W1G";
  font-size: 10px;
  font-weight: 400;
  line-height: 12%;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
}

.font-mobile-button-lrg {
  font-family: "Neue Haas Unica W1G";
  font-size: 12px;
  font-weight: 400;
  line-height: 14.4%;
  letter-spacing: 0.6px;
  text-decoration: none;
  text-transform: uppercase;
}

.font-mobile-button-small {
  font-family: "Neue Haas Unica W1G";
  font-size: 10px;
  font-weight: 400;
  line-height: 12%;
  letter-spacing: 0.4px;
  text-decoration: none;
  text-transform: uppercase;
}

.font-desktop-d1 {
  font-family: "IvyPresto Headline";
  font-size: 92px;
  font-weight: 400;
  line-height: 110.4%;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
}

.font-desktop-d2 {
  font-family: "IvyPresto Headline";
  font-size: 62px;
  font-weight: 400;
  line-height: 68%;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
}

.font-desktop-h1 {
  font-family: "IvyPresto Headline";
  font-size: 52px;
  font-weight: 400;
  line-height: 68%;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
}

.font-desktop-h2 {
  font-family: "IvyPresto Headline";
  font-size: 48px;
  font-weight: 400;
  line-height: 55%;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
}

.font-desktop-h3 {
  font-family: "IvyPresto Headline";
  font-size: 40px;
  font-weight: 400;
  line-height: 45%;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
}

.font-desktop-h4 {
  font-family: "IvyPresto Headline";
  font-size: 32px;
  font-weight: 400;
  line-height: 38.4%;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
}

.font-desktop-h5 {
  font-family: "IvyPresto Headline";
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8%;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
}

.font-desktop-p1 {
  font-family: "Neue Haas Unica W1G";
  font-size: 22px;
  font-weight: 400;
  line-height: 26.4%;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
}

.font-desktop-p2 {
  font-family: "Neue Haas Unica W1G";
  font-size: 18px;
  font-weight: 400;
  line-height: 26%;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
}

.font-desktop-p3 {
  font-family: "Neue Haas Unica W1G";
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2%;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
}

.font-desktop-p4 {
  font-family: "Neue Haas Unica W1G";
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8%;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
}

.font-desktop-p5 {
  font-family: "Neue Haas Unica W1G";
  font-size: 12px;
  font-weight: 400;
  line-height: 14.4%;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
}

.font-desktop-button-lrg {
  font-family: "Neue Haas Unica W1G";
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2%;
  letter-spacing: 0.8px;
  text-decoration: none;
  text-transform: uppercase;
}

.font-desktop-button-small {
  font-family: "Neue Haas Unica W1G";
  font-size: 12px;
  font-weight: 400;
  line-height: 14.4%;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: uppercase;
}

