:root {
  /* Colors */
  --color-primary-light: #e17240ff;
  --color-primary-dark: #074568ff;
  --color-primary-medium: #d9d9d9ff;
  --color-header: #04344fff;
  --color-paragraph: #000000ff;
  --color-primary-button: #e17240ff;
  --color-secondary-button: #ffffffff;
  --color-primary-button---hover: #ffc6acff;
  --color-secondary-button---hover: #8ad5ffff;

}

/* Fonts */
.font-desktop-display-1 {
  font-family: "Arial";
  font-size: 92px;
  font-weight: 700;
  line-height: 110.4%;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
}

.font-desktop-h1 {
  font-family: "Arial";
  font-size: 62px;
  font-weight: 700;
  line-height: 68%;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
}

.font-desktop-h2 {
  font-family: "Arial";
  font-size: 48px;
  font-weight: 700;
  line-height: 55%;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
}

.font-desktop-h3 {
  font-family: "Arial";
  font-size: 40px;
  font-weight: 700;
  line-height: 45%;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
}

.font-desktop-h4 {
  font-family: "Arial";
  font-size: 32px;
  font-weight: 700;
  line-height: 38.4%;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
}

.font-desktop-h5 {
  font-family: "Arial";
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8%;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
}

.font-desktop-p1 {
  font-family: "Arial";
  font-size: 22px;
  font-weight: 400;
  line-height: 26.4%;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
}

.font-desktop-p2 {
  font-family: "Arial";
  font-size: 18px;
  font-weight: 400;
  line-height: 26%;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
}

.font-desktop-p3 {
  font-family: "Arial";
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2%;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
}

.font-desktop-p4 {
  font-family: "Arial";
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8%;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
}

.font-desktop-button-lrg {
  font-family: "Arial";
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2%;
  letter-spacing: 0.48px;
  text-decoration: none;
  text-transform: uppercase;
}

.font-desktop-button-small {
  font-family: "Arial";
  font-size: 12px;
  font-weight: 700;
  line-height: 14.4%;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: uppercase;
}

.font-mobile-display-1---mobile {
  font-family: "Arial";
  font-size: 52px;
  font-weight: 700;
  line-height: 62.4%;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
}

.font-mobile-h1---mobile {
  font-family: "Arial";
  font-size: 46px;
  font-weight: 700;
  line-height: 55.2%;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
}

.font-mobile-h2---mobile {
  font-family: "Arial";
  font-size: 36px;
  font-weight: 700;
  line-height: 43.2%;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
}

.font-mobile-h3---mobile {
  font-family: "Arial";
  font-size: 32px;
  font-weight: 700;
  line-height: 38.4%;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
}

.font-mobile-h4---mobile {
  font-family: "Arial";
  font-size: 26px;
  font-weight: 700;
  line-height: 31.2%;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
}

.font-mobile-h5---mobile {
  font-family: "Arial";
  font-size: 22px;
  font-weight: 700;
  line-height: 26.4%;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
}

.font-mobile-p1---mobile {
  font-family: "Arial";
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6%;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
}

.font-mobile-p2---mobile {
  font-family: "Arial";
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2%;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
}

.font-mobile-p3---mobile {
  font-family: "Arial";
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8%;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
}

.font-mobile-p4---mobile {
  font-family: "Arial";
  font-size: 12px;
  font-weight: 400;
  line-height: 14.4%;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
}

.font-mobile-button-lrg---mobile {
  font-family: "Arial";
  font-size: 12px;
  font-weight: 700;
  line-height: 14.4%;
  letter-spacing: 0.48px;
  text-decoration: none;
  text-transform: none;
}

.font-mobile-button-small---mobile {
  font-family: "Arial";
  font-size: 10px;
  font-weight: 700;
  line-height: 12%;
  letter-spacing: 0.4px;
  text-decoration: none;
  text-transform: none;
}

