:root {
  /* Colors */
  --color-heading: #35332fff;
  --color-hover: #60869fff;
  --color-primary-dark: #123850ff;
  --color-light-background: #fff8f5ff;
  --color-medium-background: #fff2ecff;
  --color-light-stroke: #d9d9d9ff;
  --color-flat-white: #ffffffff;

}

/* Fonts */
.font-desktop-display---desktop {
  font-family: "P22 Mackinac Pro";
  font-size: 92px;
  font-weight: 500;
  line-height: 110.4%;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
}

.font-desktop-h1---deskop {
  font-family: "P22 Mackinac Pro";
  font-size: 62px;
  font-weight: 500;
  line-height: 68%;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
}

.font-desktop-h2---desktop {
  font-family: "P22 Mackinac Pro";
  font-size: 48px;
  font-weight: 400;
  line-height: 55%;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
}

.font-desktop-h3---desktop {
  font-family: "P22 Mackinac Pro";
  font-size: 40px;
  font-weight: 400;
  line-height: 45%;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
}

.font-desktop-h4---desktop {
  font-family: "P22 Mackinac Pro";
  font-size: 32px;
  font-weight: 400;
  line-height: 38.4%;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
}

.font-desktop-h5---desktop {
  font-family: "P22 Mackinac Pro";
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8%;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
}

.font-desktop-p1---desktop {
  font-family: "Red Hat Display";
  font-size: 22px;
  font-weight: 400;
  line-height: 26.4%;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
}

.font-desktop-p2---desktop {
  font-family: "Red Hat Display";
  font-size: 18px;
  font-weight: 400;
  line-height: 26%;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
}

.font-desktop-p3---desktop {
  font-family: "Red Hat Display";
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2%;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
}

.font-desktop-p4---desktop {
  font-family: "Red Hat Display";
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8%;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
}

.font-desktop-button-lrg---desktop {
  font-family: "Red Hat Display";
  font-size: 16px;
  font-weight: 600;
  line-height: 19.2%;
  letter-spacing: 1.6px;
  text-decoration: none;
  text-transform: uppercase;
}

.font-desktop-button-small---desktop {
  font-family: "Red Hat Display";
  font-size: 12px;
  font-weight: 400;
  line-height: 14.4%;
  letter-spacing: 0.96px;
  text-decoration: none;
  text-transform: uppercase;
}

.font-mobile-display---mobile {
  font-family: "P22 Mackinac Pro";
  font-size: 52px;
  font-weight: 500;
  line-height: 62.4%;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
}

.font-mobile-h1---mobile {
  font-family: "P22 Mackinac Pro";
  font-size: 46px;
  font-weight: 500;
  line-height: 55.2%;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
}

.font-mobile-h2---mobile {
  font-family: "P22 Mackinac Pro";
  font-size: 36px;
  font-weight: 500;
  line-height: 43.2%;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
}

.font-mobile-h3---mobile {
  font-family: "P22 Mackinac Pro";
  font-size: 32px;
  font-weight: 500;
  line-height: 38.4%;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
}

.font-mobile-h4---mobile {
  font-family: "P22 Mackinac Pro";
  font-size: 26px;
  font-weight: 500;
  line-height: 31.2%;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
}

.font-mobile-h5---mobile {
  font-family: "P22 Mackinac Pro";
  font-size: 22px;
  font-weight: 500;
  line-height: 26.4%;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
}

.font-mobile-p1---mobile {
  font-family: "Red Hat Display";
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6%;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
}

.font-mobile-p2---mobile {
  font-family: "Red Hat Display";
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2%;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
}

.font-mobile-p3---mobile {
  font-family: "Red Hat Display";
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8%;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
}

.font-mobile-p4---mobile {
  font-family: "Red Hat Display";
  font-size: 12px;
  font-weight: 400;
  line-height: 14.4%;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
}

.font-mobile-button-lrg---desktop {
  font-family: "Red Hat Display";
  font-size: 12px;
  font-weight: 600;
  line-height: 14.4%;
  letter-spacing: 1.2px;
  text-decoration: none;
  text-transform: uppercase;
}

.font-mobile-button-small---desktop {
  font-family: "Red Hat Display";
  font-size: 10px;
  font-weight: 400;
  line-height: 12%;
  letter-spacing: 0.8px;
  text-decoration: none;
  text-transform: uppercase;
}

